<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        <%= file_info.title %>
    </title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Source+Code+Pro" rel="stylesheet">
    <!-- Icons -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="/css/lanyon.css">
    <link rel="stylesheet" type="text/css" href="/css/poole.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/page.css">
    <link rel="stylesheet" type="text/css" href="/css/vs-fast.css">
    <link rel="stylesheet" type="text/css" href="/css/comment.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/lib/katex/css/katex.min.css">

    <!-- Javascript -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous" defer></script>

    <script defer src="/lib/katex/js/katex.min.js"></script>
    <script defer src="/lib/katex/js/auto-render.min.js"></script>
    <script defer>

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"
    integrity="sha256-0SGl1PJNDyJwcV5T+weg2zpEMrh7xvlwO4oXgvZCeZk=" crossorigin="anonymous" defer></script>
</head>
