<!DOCTYPE html>
<html lang="ko-kr">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="/img/favicon.ico">

  <title>모두의 코드</title>
</head>
<body>
  <section class="header">
  <div class="header-img">
    <img src="/img/tux.jpeg" alt="모두의 코드">
  </div>
  <div class="header-title">
  <a href="/">모두의 코드</a>
  </div>
  </section>
  <main>
    <div class="content">
      <div class="row-content">
        <div class="item">
          <div class="item-img">
          <a href="/notice/15">
            <picture>
              <source type="image/webp" srcset="/img/ChewingClogo.webp">
              <img src="/img/ChewingClogo.png" alt="씹어먹는 C 언어 강좌 보러가기">
            </picture>
          </a>
          </div>
          <div class="item-text">
            <div class="item-text-header">
            <a href="/notice/15">씹어먹는 C 언어 강좌</a>
            </div>
            <div class="item-text-content">
              <p>
                총 42 개의 강의로 준비된 <span class="text-bold">씹어먹는 C 언어 강좌</span>를 통해 C 언어의 처음부터 끝까지 배우실 수 있습니다! 특히 악명 높은 C 언어의 포인터나, 어려운 개념들을 충실히 짚고 넘어갑니다.
              </p>
              <p>
                이 강좌는 2010년에 완결되었지만, 지속적으로 개선 및 보완하고 있습니다.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-img">
            <a href="/135">
              <picture>
              <source type="image/webp" srcset="/img/ChewingCpplogo.webp">
                <img src="/img/ChewingCpplogo.png"  alt="씹어먹는 C ++ 강좌 보러가기">
              </picture>
            </a>
            </div>
            <div class="item-text">
              <div class="item-text-header">
              <a href="/135">씹어먹는 C++ 강좌</a>
              </div>
              <div class="item-text-content">
              <p>
                C 언어 문법을 아시는 분들이라면, <span class="text-bold">씹어먹는 C++ 강좌</span>를 통해 C++ 기초 부터 최근의 C++ 17 까지 모든 내용을 배우실 수 있습니다. C 언어와 C++ 의 기본적인 문법이 비슷하기 때문에, C 언어를 어느 정도 아는 독자를 가정하여 쓰여져 있습니다.
              </p>
              <p>
                현재 강좌는 연재 진행 중이며, 총 31 개의 강좌가 준비되어 있습니다.
              </p>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="ref-box">
          <div class="ref-header">
            C 언어 레퍼런스
          </div>
          <div class="ref-content">
            <div class="ref-col">
              <div class="ref-col-header">
              표준 입출력 라이브러리 <a href="/34">stdio.h</a>
              </div>
              <div class="ref-col-content">
                <ul>
                  <li><a href="/35">printf</a></li>
                  <li><a href="/36">scanf</a></li>
                  <li><a href="/66">sprintf</a></li>
                  <li><a href="/58">fopen</a></li>
                </ul>
              </div>
            </div>
            <div class="ref-col">
              <div class="ref-col-header">
              문자열 관련 라이브러리 <a href="/76">string.h</a>
              </div>
              <div class="ref-col-content">
                <ul>
                  <li><a href="/106">strlen</a></li>
                  <li><a href="/36">strncmp</a></li>
                  <li><a href="/101">strstr</a></li>
                  <li><a href="/77">memcpy</a></li>
                </ul>
              </div>
            </div>
            <div class="ref-col">
              <div class="ref-col-header">
              시간 관련 라이브러리 <a href="/108">time.h</a>
              </div>
              <div class="ref-col-content">
                <ul>
                  <li><a href="/114">time</a></li>
                  <li><a href="/110">clock</a></li>
                  <li><a href="/111">difftime</a></li>
                  <li><a href="/122">strftime</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ref-box">
          <div class="ref-header">
            C ++ 레퍼런스 
          </div>
          <div class="ref-content">
            <div class="ref-col">
              <div class="ref-col-header">
              표준 입출력 라이브러리 <a href="/143">iostream</a>
              </div>
              <div class="ref-col-content">
                <ul>
                  <li><a href="/151">ifstream</a></li>
                  <li><a href="/157">ios_base::precision</a></li>
                  <li><a href="/149">istream::getline</a></li>                  
                  <li><a href="/191">istream::get</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-content">
        <div class="item">
          <div class="item-text">
            <div class="item-text-header comment">
            최근 댓글
            </div>
            <div class="item-text-content">
              <% for (let i = 0; i < comments.length; i ++) { %> 
                <div class="comment-box">
                  <div class="comment-content">       
                    <a class="comment-link" href="<%= '/' + comments[i].article_url %>"><%= comments[i].content %></a>
                  </div>
                  <div class="comment-author">
                    <%= comments[i].author_name %>
                    <span class="comment-date"><%= comments[i].comment_date %></span>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-text">
            <div class="item-text-header">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Modoocode-front-page -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6608926154840997"
                data-ad-slot="8048150950"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>