<!DOCTYPE html>
<html lang="en-us">

<%- include('header-common') %>

<body>

<%- include('sidebar') %>
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->

<div id="open-sidebar"><i class="fas fa-align-justify" id="open-sidebar-btn"></i></div>

<div class="wrap">
  <div class="masthead">
    <div class="container">
      <h2 class="masthead-title">
        <a href="/" title="Home">모두의 코드</a><br>
        <small><%= file_info.title %></small>
      </h2>
    </div>
  </div>

  <div class="container content">
      <%- include(content_url) %>
  </div>
  <div id="comment-box">
    <button id="open-comment"></button>
    <section id="comment-post-section">
      <div id="post-box">
        <div class="profile-pic">
          <img src="/img/unknown_person.png">
        </div>
        <div class="text-area-wrapper">
          <textarea id="posted-comment"></textarea>
          <div id="comment-helper">
            댓글에 마크 다운을 사용하실 수 있습니다 <i class="em em-smile"></i>
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
              마크 다운 문법 참고
            </a>
          </div>
        </div>
      </div>
      <div class="login-box">
        <div class="social-login">
          <div class="small-comment">다음으로 로그인 </div>
          <div>
            <i class="xi-facebook-official"></i>
            <i class="xi-google-plus"></i>
            <i class="xi-naver-square"></i>
          </div>
        </div>
        <div class="manual">
          <div class="small-comment">
            또는 직접 입력하세요 (댓글 수정시 비밀번호가 필요합니다)
          </div>
          <input name="name" id="name" placeholder="이름">
          <input name="password" id="password" type="password" placeholder="비밀번호">
        </div>
        <button id="post-comment">댓글 달기</button>
      </div>
    </section>
    <section id="comment-list-section">
      <ul id="comment-list">
        <li class="comment">
          <div class="comment-profile">
            <img src="/img/unknown_person.png">
          </div>
          <div class="comment-info">
            <div class="comment-header">
              <span class="comment-author">Psi</span>
              <span class="comment-date">2018.09.20</span>
            </div>
            <div class="comment-content">
              some comment here!
            </div>
            <div class="comment-action">
              <span class="comment-upvote">추천</span>
              <span class="comment-reply">답글 달기</span>
              <span class="comment-upvote">답글 수정</span>
            </div>
          </div>
        </li>
        <ul id="comment-list">
          <li class="comment">
            <div class="comment-profile">
              <img src="/img/unknown_person.png">
            </div>
            <div class="comment-info">
              <div class="comment-header">
                <span class="comment-author">Psi</span>
                <span class="comment-date">2018.09.20</span>
              </div>
              <div class="comment-content">
                아 ~ 열혈강의에서 while 의 중첩에서 갑자기 막히네요ㅠ while중첩 쉽게
                설명해주시는 강의없나요? ㅎ
              </div>
              <div class="comment-action">
                <span class="comment-upvote">추천</span>
                <span class="comment-reply">답글 달기</span>
                <span class="comment-upvote">답글 수정</span>
              </div>
            </div>
          </li>
        </ul>
      </ul>
    </section>
  </div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
</script>
<script src="/js/page.js" defer></script>
</body>
</html>
