<!DOCTYPE html>
<html lang="en-us">

<%- include('header-common') %>

<body>

<%- include('sidebar') %>
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<div class="wrap">
  <div class="masthead">
    <div class="container">
      <h2 class="masthead-title">
        <a href="/" title="Home">모두의 코드</a><br>
        <small><%= file_info.title %></small>
      </h2>
    </div>
  </div>

  <div class="container content">

      <%- include(content_url) %>
  </div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
</script>
<script src="/js/page.js"></script>
</body>
</html>
