<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <i id="hide-sidebar" class="xi-arrow-left"
       style="float:right;margin-top:15px;margin-right:15px;
            font-size:25px;cursor:pointer;"></i>
    <div class="sidebar-item center">
        <h2 style="color:white"><a href="/">모두의 코드</a></h2>
    </div>

    <nav class="sidebar-nav">
        <% let root = page_infos[""]; %>
        <% let root_folders = Object.keys(root); %>
        <% for (let i = 0; i < root_folders.length; i++) { %>
        <% if (root_folders[i] !== "files") { %>
        <a class="sidebar-nav-item dir" name="<%= root_folders[i] %>">
            <% if (root[root_folders[i]].files.length > 0 || Object.keys(root[root_folders[i]]).length >= 2) { %>
            <i class='xi-plus-square'></i>&nbsp;&nbsp;
            <% } %>
            <%= root_folders[i] %>
        </a>
        <% } %>
        <% } %>
    </nav>

    <div class="sidebar-item">
        <p>
            Copyright &copy; 2018. Jaebum Lee. All rights reserved.
        </p>
    </div>
    <div>
        <p class="toc-header">목차</p>
        <ul id="toc" class="toc-sidebar">
        </ul>
    </div>
    <div class="adsense-sidebar">
        <p class="toc-header">후원 광고</p>
        <script type="text/javascript">
            google_ad_client = "ca-pub-6608926154840997";
            google_ad_slot = "1458582864";
            google_ad_width = 160;
            google_ad_height = 600;
        </script>
        <!-- ModooCode Vertical -->
        <script type="text/javascript"
        src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>
<div id="page-infos" style="display:none"><%= JSON.stringify(page_infos) %></div>
<div id="file-infos" style="display:none"><%= JSON.stringify(file_infos) %></div>
