<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <i class="fas fa-arrow-alt-circle-left"
     style="float:right;margin-top:20px;margin-right:20px;
            font-size:25px;cursor:pointer;"></i>
  <div class="sidebar-item center">
    <p>모두의 코드</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="">C++</a>
    <div class="inner-menu1">
      <a class="sidebar-nav-item" href="">포인터</a>
      <a class="sidebar-nav-item" href="/">소멸자</a>
      <div class="inner-menu2">
        <a class="sidebar-nav-item" href="">reference</a>
        <a class="sidebar-nav-item" href="">refere</a>
      </div>
    </div>
    <a class="sidebar-nav-item" href="{{ node.url }}">{{ node.title }}</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
