<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <i class="fas fa-arrow-alt-circle-left"
     style="float:right;margin-top:20px;margin-right:20px;
            font-size:25px;cursor:pointer;"></i>
  <div class="sidebar-item center">
    <p>모두의 코드</p>
  </div>

  <nav class="sidebar-nav">
    <% let root = page_infos[""]; %>
    <% let root_folders = Object.keys(root); %>
    <% for (let i = 0; i < root_folders.length; i ++) { %>
      <% if (root_folders[i] !== "files") { %>
      <a class="sidebar-nav-item dir"><%= root_folders[i] %></a>
      <% } %>
    <% } %>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
<div id="page-infos" style="display:none"><%= JSON.stringify(page_infos) %></div>
<div id="file-infos" style="display:none"><%=  JSON.stringify(file_infos) %></div>
