<pre class='warning'>아직 C 언어와 친숙하지 않다면, [씹어먹는 C 언어 강좌](http://itguru.tistory.com/notice/15)를 보는 것이 어떻까요?
</pre><p><code class='inline-code'>time</code></p><pre class='info'>#include <time.h>  // C++ 에서는 <ctime>

time_t time(time_t* timer);
</pre><p>현재 시간을 구한다.현재 시간을 <a href='http://itguru.tistory.com/113'> time_t 형</a>으로 구한다. (즉, 1970년 1 월 1 일 0 시 (UTC) 부터 현재 까지 흐른 초 수를 구한다고 보면 된다)</p><p>이 때 이 함수는 구한 <a href='http://itguru.tistory.com/113'>time_t</a><span class='font-weight-bold'> 형 값을 리턴하기도 하고, 인자로 받은 <code class='inline-code'>timer</code> 가 가리키는 변수를 구한 <code class='inline-code'>time_t</code> 형 값으로 설정한다.</p><h3><p>  인자</p></h3><p><code class='inline-code'>timer</code></p><p><a href='http://itguru.tistory.com/113'>time_t</a><span class='font-weight-bold'> 형 변수를 가리키는 포인터로, 이 곳에 구해진 <code class='inline-code'>time_t</code> 값이 전달된다. 물론 이 함수는 동일한 값을 친절하게 리턴도 해주기 때문에 <code class='inline-code'>timer</code> 에 <code class='inline-code'>NULL</code> 을 전달하고 리턴값을 받아도 된다.</p><h3><p>  리턴값</p></h3><p><a href='http://itguru.tistory.com/113'>time_t</a><span class='font-weight-bold'> 형으로 구한 현재 시간을 리턴한다. 만일 그 값을 알아 올 수 없을 경우 -1 을 리턴한다.</p><h3><p>  실행 예제</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">이 예제는
</span><span class="cm">http://www.cplusplus.com/reference/clibrary/ctime/time/
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;time.h&gt;</span><span class="cp">
</span><span class="cp"></span>
<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="n">time_t</span> <span class="n">seconds</span><span class="p">;</span>

  <span class="n">seconds</span> <span class="o">=</span> <span class="n">time</span><span class="p">(</span><span class="nb">NULL</span><span class="p">)</span><span class="p">;</span>
  <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">%ld hours since January 1, 1970 </span><span class="se">\n</span><span class="s">&#34;</span><span class="p">,</span> <span class="n">seconds</span> <span class="o">/</span> <span class="mi">3600</span><span class="p">)</span><span class="p">;</span>

  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img class='content-img' src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile25.uf.tistory.com%2Fimage%2F133D89414D16827029ED76' alt=''><h3><p>  연관된 함수</p></h3><ul><li></li></ul><p><a href='http://itguru.tistory.com/116'>asctime</a>  :  <code class='inline-code'>tm</code> 구조체를 문자열로 바꾼다.</p><ul><li><p>  <a href='http://itguru.tistory.com/119'>gmtime</a>  :  <code class='inline-code'>time_t</code> 를 <code class='inline-code'>UTC</code> 시간에 따라 <code class='inline-code'>tm</code> 구조체로 바꾼다.</p></li><li><p>  <a href='http://itguru.tistory.com/120'>localtime</a>  : <code class='inline-code'>time_t</code> 를 지역 시간에 따라 <code class='inline-code'>tm</code> 구조체로 바꾼다.</p></li></ul>