<pre class='warning'>아직 C 언어와 친숙하지 않다면, [씹어먹는 C 언어 강좌](http://itguru.tistory.com/notice/15)를 보는 것이 어떻까요?
</pre><p><code class='inline-code'>feof</code></p><pre class='info'>#include <stdio.h>  // C++ 에서는 <cstdio>

int feof(FILE* stream);
</pre><p>파일 끝 표시자(End-of-File indicator)를 검사한다.인자로 넘겨준 스트림의 파일 끝 표시자를 검사하여 설정(set) 되어 있다면 0 이 아닌 값을 리턴한다.보통 표시자는 이전의 입출력 작업에 의해 스트림이 파일 끝에 도달하였을 때 설정된다.<a href='http://itguru.tistory.com/75'>rewind</a><span class='font-weight-bold'> 이나 <a href='http://itguru.tistory.com/72'>fseek</a><code class='inline-code'>,</code> <a href='http://itguru.tistory.com/73'>fsetpos</a></span> 함수들 중 어느 하나가 성공적으로 위치 표시자의 값을 바꾸기 전 까지, 모든 입출력 작업들은 오류를 리턴하게 된다.</p><h3><p>  인자</p></h3><p><code class='inline-code'>stream</code></p><p>작업을 수행할 스트림의 <code class='inline-code'>FILE</code> 객체를 가리키는 포인터.</p><h3><p>  리턴값</p></h3><p>인자로 전달된 스트림의 파일 끝 지시자가 설정되어 있다면 0 이 아닌 값을 리턴한다.그렇지 않을 경우 0 이 리턴된다.</p><h3><p>  실행 예제</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">myfile.txt 의 총 바이트 수를 센다.
</span><span class="cm">이 예제는 http://www.cplusplus.com/reference/clibrary/cstdio/feof/
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="n">FILE</span><span class="o">*</span> <span class="n">pFile</span><span class="p">;</span>
  <span class="kt">long</span> <span class="n">n</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
  <span class="n">pFile</span> <span class="o">=</span> <span class="n">fopen</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">myfile.txt</span><span class="s">&#34;</span><span class="p">,</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">rb</span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>
  <span class="k">if</span> <span class="p">(</span><span class="n">pFile</span> <span class="o">=</span><span class="o">=</span> <span class="nb">NULL</span><span class="p">)</span>
    <span class="n">perror</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">Error opening file</span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>

  <span class="k">else</span> <span class="p">{</span>
    <span class="k">while</span> <span class="p">(</span><span class="o">!</span><span class="n">feof</span><span class="p">(</span><span class="n">pFile</span><span class="p">)</span><span class="p">)</span> <span class="p">{</span>
      <span class="n">fgetc</span><span class="p">(</span><span class="n">pFile</span><span class="p">)</span><span class="p">;</span>
      <span class="n">n</span><span class="o">+</span><span class="o">+</span><span class="p">;</span>
    <span class="p">}</span>
    <span class="n">fclose</span><span class="p">(</span><span class="n">pFile</span><span class="p">)</span><span class="p">;</span>
    <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">Total number of bytes: %d</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">,</span> <span class="n">n</span> <span class="o">-</span> <span class="mi">1</span><span class="p">)</span><span class="p">;</span>
  <span class="p">}</span>
  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p><code class='inline-code'>myfile.txt</code> 의 내용</p><img class='content-img' src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile21.uf.tistory.com%2Fimage%2F145B2A1B4B6EEADA2826C0' alt=''><p>실행 결과</p><img class='content-img' src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile22.uf.tistory.com%2Fimage%2F135DE91B4B6EEADA159C42' alt=''><p>만일 파일을 읽어들이다가 파일 끝에 도달하게 되면 <code class='inline-code'>feof</code> 가 0 이 아닌 값을 리턴하게 되어 <code class='inline-code'>while</code> 문을 빠져나가게 된다.</p><h3><p>  연관된 함수</p></h3><ul><li></li></ul><p><a href='http://itguru.tistory.com/50'>clearerr</a><span class='font-weight-bold'> :  오류 표시자들을 클리어한다.</p><ul><li><p> <a href='http://itguru.tistory.com/52'>ferror</a>  :  오류 표시자를 검사한다.</p></li></ul>