<pre class='warning'>이 레퍼런스의 모든 내용은 [http://www.cplusplus.com/reference/iostream/](http://www.cplusplus.com/reference/iostream/) 의 내용을 기초로 하여, Microsoft 의 MSDN 과 Bjarne Stroustrup 의 책 <<The C++ Programming Language>> 를 참고로 하여 만들어졌습니다. 이는 또한 저의 개인적인 C++ 능력 향상과 ' [저의 모토인 지식 전파](http://itguru.tistory.com/notice/107)'를 위해 모든 이들에게 공개하도록 하겠습니다.
</pre><pre class='info'>아직 C++ 에 친숙하지 않다면 [씹어먹는 C++ 강좌](http://itguru.tistory.com/135)는 어때요?
</pre><p>istream::peek</p><pre class='info'>
int peek();
</pre><p>그 다음 문자를 살짝 훔쳐본다<span class='font-weight-bold'> (즉, 스트림에서 빼오지는 않고 읽기만 한다)따라서 <a href='http://itguru.tistory.com/191'>get</a>처럼 스트림에서 문자를 빼내는 것이 아니라, 그 문자는 그냥 스트림에 남아있게 된다.</p><h3><p>  인자</p></h3><p>없음</p><h3><p>  리턴값</p></h3><p>그 다음 문자의 값을 리턴한다. 오류가 발생 시에 이 함수는 <code class='inline-code'>EOF</code> 를 리턴하며, 내부 상태 플래그를 다음과 같은 상황에 맞게 변경하게 된다.</p><p>플래그오류<code class='inline-code'>eofbit</code>작업 중 문자들의 끝에 도달하였을 때<code class='inline-code'>failbit</code><code class='inline-code'>-</code><code class='inline-code'>badbit</code>위 같은 일들 외의 다른 오류가 발생시</p><p>위와 같은 플래그들이 <a href='http://itguru.tistory.com/150'>ios::exceptions</a><span class='font-weight-bold'> 함수들로 설정되었다면, ios<span class='font-italic'>base::failure 가 <code class='inline-code'>throw</code> 된다.</p><h3><p>  실행 예제</p></h3><pre class="chroma">
<span class="cm">/*
</span><span class="cm">
</span><span class="cm">
</span><span class="cm">이 예제는
</span><span class="cm">[http://www.cplusplus.com/reference/iostream/istream/peek/](http://www.cplusplus.com/reference/iostream/istream/peek/)
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;iostream&gt;</span><span class="cp">
</span><span class="cp"></span><span class="k">using</span> <span class="k">namespace</span> <span class="n">std</span><span class="p">;</span>

<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="kt">char</span> <span class="n">c</span><span class="p">;</span>
  <span class="kt">int</span> <span class="n">n</span><span class="p">;</span>
  <span class="kt">char</span> <span class="n">str</span><span class="p">[</span><span class="mi">256</span><span class="p">]</span><span class="p">;</span>

  <span class="n">cout</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">Enter a number or a word: </span><span class="s">&#34;</span><span class="p">;</span>
  <span class="n">c</span> <span class="o">=</span> <span class="n">cin</span><span class="p">.</span><span class="n">peek</span><span class="p">(</span><span class="p">)</span><span class="p">;</span>

  <span class="k">if</span> <span class="p">(</span><span class="p">(</span><span class="n">c</span> <span class="o">&gt;</span><span class="o">=</span> <span class="sa"></span><span class="sc">&#39;</span><span class="sc">0</span><span class="sc">&#39;</span><span class="p">)</span> <span class="o">&amp;</span><span class="o">&amp;</span> <span class="p">(</span><span class="n">c</span> <span class="o">&lt;</span><span class="o">=</span> <span class="sa"></span><span class="sc">&#39;</span><span class="sc">9</span><span class="sc">&#39;</span><span class="p">)</span><span class="p">)</span> <span class="p">{</span>
    <span class="n">cin</span> <span class="o">&gt;</span><span class="o">&gt;</span> <span class="n">n</span><span class="p">;</span>
    <span class="n">cout</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">You have entered number </span><span class="s">&#34;</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="n">n</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="n">endl</span><span class="p">;</span>
  <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
    <span class="n">cin</span> <span class="o">&gt;</span><span class="o">&gt;</span> <span class="n">str</span><span class="p">;</span>
    <span class="n">cout</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="sa"></span><span class="s">&#34;</span><span class="s"> You have entered word </span><span class="s">&#34;</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="n">str</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="n">endl</span><span class="p">;</span>
  <span class="p">}</span>

  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img class='content-img' src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile3.uf.tistory.com%2Fimage%2F205F8A46509C37A00C73BC' alt=''><h3><p>  템플릿 멤버 정의</p></h3><pre class="chroma">
<span class="p">(</span><span class="n">basic_istream</span><span class="o">&lt;</span><span class="n">charT</span><span class="p">,</span> <span class="n">traits</span><span class="o">&gt;</span><span class="p">)</span><span class="k">typedef</span> <span class="n">traits</span><span class="o">:</span><span class="o">:</span><span class="n">int_type</span> <span class="n">int_type</span><span class="p">;</span>
<span class="n">int_type</span> <span class="nf">peek</span><span class="p">(</span><span class="p">)</span><span class="p">;</span>
</pre><h3><p>  연관된 함수</p></h3><ul><li><p>  <a href='http://itguru.tistory.com/191'>istream::get</a><span class='font-weight-bold'> : 스트림에서 서식화 되지 않은 데이터를 가져온다.</p></li><li><p>  <a href='http://itguru.tistory.com/147'>istream::operator>></a>: 스트림에서 서식화 된 데이터를 가져온다.</p></li></ul>