<pre class='warning'>아직 C 언어와 친숙하지 않다면, [씹어먹는 C 언어 강좌](http://itguru.tistory.com/notice/15)를 보는 것이 어떻까요?
</pre><p><code class='inline-code'>fputs</code></p><pre class='info'>

﻿<stdio.h>  // C++ 에서는 <cstdio>﻿﻿﻿int fputs ( const char * str, FILE
              // * stream );
</pre><p>스트림에 문자열을 쓴다.</p><p><code class='inline-code'>str</code> 이 가리키는 문자열을 <code class='inline-code'>stream</code> 에 씁니다.<code class='inline-code'>fputs</code> 는 <code class='inline-code'>str</code> 이 가리키는 문자열을 <code class='inline-code'>NULL</code> 문자 ('\0') 에 도달할 때 까지 스트림에 복사합니다. 마지막 <code class='inline-code'>NULL</code> 문자는 스트림에 복사되지 않습니다.</p><h3><p>  인자</p></h3><p><code class='inline-code'>str</code></p><p>스트림에 쓰여질 널 문자로 끝나는 문자들의 배열.</p><p><code class='inline-code'>stream</code></p><p>문자열을 쓸 스트림의 <code class='inline-code'>FILE</code> 객체를 가리키는 포인터</p><h3><p>  리턴값</p></h3><p>쓰기를 성공한다면 음이 아닌 수가 리턴된다.오류가 발생한다면 <code class='inline-code'>EOF</code> 를 리턴한다.</p><h3><p>  실행 예제</p></h3><pre class="chroma"><span class="cm">/* 화면에 str 의 내용을 출력한다. */</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="kt">char</span> <span class="n">str</span><span class="p">[</span><span class="p">]</span> <span class="o">=</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">string to print </span><span class="se">\n</span><span class="s">&#34;</span><span class="p">;</span>

  <span class="n">fputs</span><span class="p">(</span><span class="n">str</span><span class="p">,</span> <span class="n">stdout</span><span class="p">)</span><span class="p">;</span>

  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile25.uf.tistory.com%2Fimage%2F18309F0C4B6811F13F2A5C' alt=''><p>화면(stdout) 에 <code class='inline-code'>str</code> 의 내용인 <code class='inline-code'>string to print</code> \n 이 출력된 것을 볼 수 있다.</p><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">mylog.txt 에 (없으면 파일을 생성한다) 사용자로 부터 입력받은 문자열을 추가한다.
</span><span class="cm">(기존의 파일 내용은 삭제되지 않고 끝에 덧붙인다)
</span><span class="cm">이 예제는 http://www.cplusplus.com/reference/clibrary/cstdio/fputs/
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>

<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="n">FILE</span><span class="o">*</span> <span class="n">pFile</span><span class="p">;</span>
  <span class="kt">char</span> <span class="n">sentence</span><span class="p">[</span><span class="mi">256</span><span class="p">]</span><span class="p">;</span>

  <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">mylog.txt 에 추가할 문자열을 입력하세요: </span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>
  <span class="n">fgets</span><span class="p">(</span><span class="n">sentence</span><span class="p">,</span> <span class="mi">255</span><span class="p">,</span> <span class="n">stdin</span><span class="p">)</span><span class="p">;</span>
  <span class="n">pFile</span> <span class="o">=</span> <span class="n">fopen</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">mylog.txt</span><span class="s">&#34;</span><span class="p">,</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">a</span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>
  <span class="n">fputs</span><span class="p">(</span><span class="n">sentence</span><span class="p">,</span> <span class="n">pFile</span><span class="p">)</span><span class="p">;</span>
  <span class="n">fclose</span><span class="p">(</span><span class="n">pFile</span><span class="p">)</span><span class="p">;</span>
  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 화면</p><img src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile3.uf.tistory.com%2Fimage%2F1931E40B4B68116928BD26' alt=''><p>파일의 모습</p><img src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile7.uf.tistory.com%2Fimage%2F171D710B4B6811A4481109' alt=''><h3><p>  연관된 함수</p></h3><ul><li><p>  <a href='http://itguru.tistory.com/39'>puts</a>   : <code class='inline-code'>stdout</code> 에 문자열을 쓴다.</p></li><li><p>  <a href='http://itguru.tistory.com/38'>fgets</a>  : 스트림에서 문자열을 받아온다.</p></li><li><p>  <a href='http://itguru.tistory.com/39'>fputc</a>  : 스트림에 한 문자를 쓴다.</p></li><li><p>  <a href='http://itguru.tistory.com/64'>fprintf</a><span class='font-weight-bold'> : 특정한 형식으로 스트림에 쓴다.</p></li><li><p>  <a href='http://itguru.tistory.com/69'>fwrite</a><span class='font-weight-bold'> : 스트림에 데이터 블록을 쓴다.</p></li></ul>