<pre class='warning'>아직 C 언어와 친숙하지 않다면, [씹어먹는 C 언어 강좌](http://itguru.tistory.com/notice/15)를 보는 것이 어떻까요?
</pre><p><code class='inline-code'>strncat</code></p><pre class='info'>#include <string.h>  // C++ 에서는 <cstring>

char* strncat(char* destination, char* source, size_t num);
</pre><p>문자열에 일부 문자들을 덧붙인다.<code class='inline-code'>source</code> 의 처음 <code class='inline-code'>num</code> 개의 문자들을 <code class='inline-code'>destination</code> 끝에 덧붙인다. 이 때, <code class='inline-code'>destination</code> 끝에는 자동으로 <code class='inline-code'>NULL</code> 문자 까지 붙여진다. 만일, <code class='inline-code'>source</code> 의 문자열의 길이가 <code class='inline-code'>num</code> 보다 작다면, <code class='inline-code'>source</code> 의 <code class='inline-code'>NULL</code> 문자 까지만 붙여진다.</p><h3><p>  인자</p></h3><p><code class='inline-code'>destination</code></p><p><code class='inline-code'>destination</code> 배열을 가리키는 포인터로, C 문자열을 보관하며 (널 문자를 포함한) 합쳐진 문자열이 들어갈 만큼 충분히 크기가 커야만 한다.</p><p><code class='inline-code'>source</code></p><p>덧붙여질 C 문자열이다.</p><p><code class='inline-code'>num</code></p><p><code class='inline-code'>source</code> 에서 붙일 문자의 (최대) 개수이다.</p><h3><p>  리턴값</p></h3><p><code class='inline-code'>destination</code> 이 리턴된다.</p><h3><p>  실행 예제</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">str1 의 &#34;To be &#34; 와 str2 의 &#34;or not to be&#34; 를 합쳐서 str1 에 저장한다
</span><span class="cm">이 예제는
</span><span class="cm">http://www.cplusplus.com/reference/clibrary/cstring/strncat/
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;string.h&gt;</span><span class="cp">
</span><span class="cp"></span>
<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="kt">char</span> <span class="n">str1</span><span class="p">[</span><span class="mi">20</span><span class="p">]</span><span class="p">;</span>
  <span class="kt">char</span> <span class="n">str2</span><span class="p">[</span><span class="mi">20</span><span class="p">]</span><span class="p">;</span>
  <span class="n">strcpy</span><span class="p">(</span><span class="n">str1</span><span class="p">,</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">To be </span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>
  <span class="n">strcpy</span><span class="p">(</span><span class="n">str2</span><span class="p">,</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">or not to be</span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>
  <span class="n">strncat</span><span class="p">(</span><span class="n">str1</span><span class="p">,</span> <span class="n">str2</span><span class="p">,</span> <span class="mi">6</span><span class="p">)</span><span class="p">;</span>
  <span class="n">puts</span><span class="p">(</span><span class="n">str1</span><span class="p">)</span><span class="p">;</span>
  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile24.uf.tistory.com%2Fimage%2F201608194C14EF7D2681EB' alt=''><h3><p>  함수 구현 예</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">이 소스는
</span><span class="cm">http://www.jbox.dk/sanos/source/lib/string.c.html
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>

<span class="kt">char</span> <span class="o">*</span><span class="nf">strncat</span><span class="p">(</span><span class="kt">char</span> <span class="o">*</span><span class="n">s1</span><span class="p">,</span> <span class="k">const</span> <span class="kt">char</span> <span class="o">*</span><span class="n">s2</span><span class="p">,</span> <span class="n">size_t</span> <span class="n">count</span><span class="p">)</span> <span class="p">{</span>
  <span class="kt">char</span> <span class="o">*</span><span class="n">start</span> <span class="o">=</span> <span class="n">s1</span><span class="p">;</span>
  <span class="k">while</span> <span class="p">(</span><span class="o">*</span><span class="n">s1</span><span class="o">+</span><span class="o">+</span><span class="p">)</span>
    <span class="p">;</span>
  <span class="n">s1</span><span class="o">-</span><span class="o">-</span><span class="p">;</span>
  <span class="k">while</span> <span class="p">(</span><span class="n">count</span><span class="o">-</span><span class="o">-</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="p">(</span><span class="o">*</span><span class="n">s1</span><span class="o">+</span><span class="o">+</span> <span class="o">=</span> <span class="o">*</span><span class="n">s2</span><span class="o">+</span><span class="o">+</span><span class="p">)</span><span class="p">)</span> <span class="k">return</span> <span class="n">start</span><span class="p">;</span>
  <span class="p">}</span>
  <span class="o">*</span><span class="n">s1</span> <span class="o">=</span> <span class="sa"></span><span class="sc">&#39;</span><span class="sc">\0</span><span class="sc">&#39;</span><span class="p">;</span>
  <span class="k">return</span> <span class="n">start</span><span class="p">;</span>
<span class="p">}</span>
</pre><h3><p>  연관된 함수</p></h3><ul><li><p> <a href='http://itguru.tistory.com/81'>strcat</a>  :  문자열을 합친다.</p></li><li><p>  <a href='http://itguru.tistory.com/80'>strncpy</a>  :  문자열의 일부분을 복사한다.</p></li><li><p>  <a href='http://itguru.tistory.com/77'>memcpy</a><span class='font-weight-bold'> :  메모리의 일부분을 복사한다.</p></li></ul>