<pre class='warning'>이 레퍼런스의 모든 내용은 http
    :  // www.cplusplus.com/reference/iostream/
       의 내용을 기초로 하여,
       Microsoft 의 MSDN 과 Bjarne Stroustrup 의 책
               << The C++ Programming Language >>
           를 참고로 하여 만들어졌습니다
               .이는 또한 저의 개인적인
                   C++ 능력 향상과 '저의 모토인 지식 전파' 를 위해 모든 이들에게
                       공개하도록 하겠습니다.
</pre><pre class='info'>아직 C++ 에 친숙하지 않다면 씹어먹는 C++ 강좌는 어때요 ?
</pre><p>vector::push<span class='font-italic'>back</p><pre class='info'>
void push_back(const T& x);
</pre><p>벡터 끝에 원소를 추가한다. 현재의 마지막 원소 뒤에 새로운 원소를 추가하며, 그 원소의 값은 x 의 복사본으로 초기화 된다.</p><p>이 함수는 효과적으로 벡터의 크기를 1 늘리는데, 만일 capacity 와 벡터 size 가 같다면 내부적으로 재할당이 일어나게 된다. 이 때 이전에 사용되었던 반복자(iterator) , 레퍼런스, 포인터들은 사용할 수 없게 된다. </p><h3><p>  인자</p></h3><p>x새로 추가 될 원소에 복사 될 원소T 는 벡터에 저장되어있는 원소들의 타입이다.</p><h3><p>  리턴값</p></h3><p>없음</p><p>만일 재할당이 발생한다면 이는 Allocator::allocate() 를 이용해서 수행되는데, 예외를 던질(throw) 수 있다. (디폴트 할당자의 경우 만일 요청한 할당이 성공하지 않을 경우 bad<span class='font-italic'>alloc 이 던져진다)</p><h3><p>  실행 예제</p></h3><pre class="chroma">
<span class="cm">/*
</span><span class="cm">
</span><span class="cm">이 예제는
</span><span class="cm">http://www.cplusplus.com/reference/stl/vector/push_back/
</span><span class="cm">에서 가져왔습니다
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;iostream&gt;</span><span class="cp">
</span><span class="cp"></span><span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;vector&gt;</span><span class="cp">
</span><span class="cp"></span><span class="k">using</span> <span class="k">namespace</span> <span class="n">std</span><span class="p">;</span>

<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="n">vector</span><span class="o">&lt;</span><span class="kt">int</span><span class="o">&gt;</span> <span class="n">myvector</span><span class="p">;</span>
  <span class="kt">int</span> <span class="n">myint</span><span class="p">;</span>

  <span class="n">cout</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">Please enter some integers (enter 0 to end):</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">;</span>

  <span class="k">do</span> <span class="p">{</span>
    <span class="n">cin</span> <span class="o">&gt;</span><span class="o">&gt;</span> <span class="n">myint</span><span class="p">;</span>
    <span class="n">myvector</span><span class="p">.</span><span class="n">push_back</span><span class="p">(</span><span class="n">myint</span><span class="p">)</span><span class="p">;</span>
  <span class="p">}</span> <span class="k">while</span> <span class="p">(</span><span class="n">myint</span><span class="p">)</span><span class="p">;</span>

  <span class="n">cout</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">myvector stores </span><span class="s">&#34;</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="p">(</span><span class="kt">int</span><span class="p">)</span><span class="n">myvector</span><span class="p">.</span><span class="n">size</span><span class="p">(</span><span class="p">)</span> <span class="o">&lt;</span><span class="o">&lt;</span> <span class="sa"></span><span class="s">&#34;</span><span class="s"> numbers.</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">;</span>

  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile2.uf.tistory.com%2Fimage%2F1519CE4C501DD721070E78' alt=''><h3><p>  시간 복잡도</p></h3><p>상수 (다만 재할당이 일어 날 수 있음)</p><h3><p>  연관된 함수</p></h3><ul><li><p> vector::pop<span class='font-italic'>back : 마지막 원소를 삭제한다.</p></li><li><p> vector::insert : 원소를 추가한다. </p></li></ul><p>공감sns신고저작자표시</p><p>'C++ Reference > STL Container' 카테고리의 다른 글C++ 레퍼런스 - vector::insert(0)2012.08.05C++ 레퍼런스 - vector::push<span class='font-italic'>back(0)2012.08.05C++ 레퍼런스 - STL 컨테이너 - vector::assign 함수(0)2012.03.25C++ 레퍼런스 - STL 컨테이너 - vector 생성자(0)2012.03.25C++ 레퍼런스 - STL 컨테이너 - list(0)2012.03.24C++ 레퍼런스 - STL 컨테이너 - deque(0)2012.03.24</p>