<pre class='warning'>아직 C 언어와 친숙하지 않다면, [씹어먹는 C 언어 강좌](http://itguru.tistory.com/notice/15)를 보는 것이 어떻까요?
</pre><p><code class='inline-code'>strlen</code></p><pre class='info'>#include <string.h>  // C++ 에서는 <cstring>

size_t strlen(const char* str);
</pre><p>문자열의 길이를 구한다.문자열의 길이는 리턴한다. C 문자열의 길이는 마지막 널 문자에 의해 결정된다. 따라서 <code class='inline-code'>strlen</code> 은 문자열의 시작 부터, 널 문자 직전 까지의 문자의 개수를 센다.</p><p>간혹</p><pre class="chroma"><span class="kt">char</span> <span class="n">mystr</span><span class="p">[</span><span class="mi">100</span><span class="p">]</span> <span class="o">=</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">test string</span><span class="s">&#34;</span><span class="p">;</span>
</pre><p>라 되어 있으면 <code class='inline-code'>strlen</code> 이 100 을 리턴할 것 같지만 <code class='inline-code'>mystr</code> 은 오직 11 개의 문자로만 선언되어 있으므로 11 이 리턴된다.</p><h3><p>  인자</p></h3><p><code class='inline-code'>string</code></p><p><code class='inline-code'>C</code> 형식 문자 C 형식 문자열</p><h3><p>  리턴값</p></h3><p>문자열의 길이. 참고로 <code class='inline-code'>size_t</code> 형으로 선언 되어 있는데 대부분의 <code class='inline-code'>string.h</code> 에서는 부호 없는 정수형으로 선언되어 있다.</p><h3><p>  구현 예</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">이 예제는
</span><span class="cm">http://www.jbox.dk/sanos/source/lib/string.c.html
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="n">size_t</span> <span class="nf">strlen</span><span class="p">(</span><span class="k">const</span> <span class="kt">char</span> <span class="o">*</span><span class="n">s</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">const</span> <span class="kt">char</span> <span class="o">*</span><span class="n">eos</span> <span class="o">=</span> <span class="n">s</span><span class="p">;</span>
  <span class="k">while</span> <span class="p">(</span><span class="o">*</span><span class="n">eos</span><span class="o">+</span><span class="o">+</span><span class="p">)</span>
    <span class="p">;</span>
  <span class="k">return</span> <span class="p">(</span><span class="kt">int</span><span class="p">)</span><span class="p">(</span><span class="n">eos</span> <span class="o">-</span> <span class="n">s</span> <span class="o">-</span> <span class="mi">1</span><span class="p">)</span><span class="p">;</span>
<span class="p">}</span>
</pre><h3><p>  실행 예제</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">문자열을 하나 입력 받아서 그 길이를 리턴한다.
</span><span class="cm">이 예제는
</span><span class="cm">http://www.cplusplus.com/reference/clibrary/cstring/strlen/
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;string.h&gt;</span><span class="cp">
</span><span class="cp"></span>
<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="kt">char</span> <span class="n">szInput</span><span class="p">[</span><span class="mi">256</span><span class="p">]</span><span class="p">;</span>
  <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">Enter a sentence: </span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>
  <span class="n">gets</span><span class="p">(</span><span class="n">szInput</span><span class="p">)</span><span class="p">;</span>
  <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">The sentence entered is %u characters long.</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">,</span> <span class="n">strlen</span><span class="p">(</span><span class="n">szInput</span><span class="p">)</span><span class="p">)</span><span class="p">;</span>
  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img class='content-img' src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile25.uf.tistory.com%2Fimage%2F1772BF1F4D0420B837D97C' alt=''><h3><p>  연관된 함수</p></h3><ul><li><p>  <a href='http://itguru.tistory.com/85'>strcmp</a>  :  두 개의 문자열을 비교한다.</p></li><li><p>  <a href='http://itguru.tistory.com/93'>strchr</a>  :  문자열에서 특정한 문자의 첫번째로 나타나는 위치를 찾는다.</p></li><li><p>  <a href='http://itguru.tistory.com/96'>strrchr</a>  :  문자열에서 특정한 문자의 마지막으로 나타나는 위치를 찾는다.</p></li></ul>