<pre class='warning'>아직 C 언어와 친숙하지 않다면, [씹어먹는 C 언어 강좌](http://itguru.tistory.com/notice/15)를 보는 것이 어떻까요?
</pre><p><code class='inline-code'>strpbrk</code></p><pre class='info'>#include <string.h>  // C++ 에서는 <cstring>

const char* strpbrk(const char* str1, const char* str2);
char* strpbrk(char* str1, const char* str2);
</pre><p>문자열에서 다른 문자열에 들어 있는 문자들을 검색어로 생각하여 찾는다.이 때, 가장 첫번째로 일치되는 문자를 가리키는 포인터를 반환한다. 만일 일치되는 것이 없다면 <code class='inline-code'>NULL</code> 을 반환하게 된다.</p><p>또한 이 함수는 문자열의 <code class='inline-code'>NULL</code> 종료 문자는 문자열에 포함되어 있지 않다고 생각한다.</p><p>위에 나온 두 원형은 C++ 에서만 적용된다. (C++ 에서는 함수 오버로딩이 가능하므로) 다만 C 에서는 아래와 같은 하나의 원형만을 가진다.</p><pre class='info'>char *strpbrk(const char *, const char *);
</pre><h3><p>  인자</p></h3><p><code class='inline-code'>str1</code></p><p>검색을 수행할 문자열</p><p><code class='inline-code'>str2</code></p><p>검색어들을 포함하고 있는 문자열</p><h3><p>  리턴값</p></h3><p><code class='inline-code'>str2</code> 의 문자들 중 <code class='inline-code'>str1</code> 의 문자들과 첫번째로 일치하는 문자를 가리키게 된다. 만일 <code class='inline-code'>str1</code> 의 널 문자 이전 까지 일치하는 것이 없다면 널을 리턴한다.</p><h3><p>  함수의 구현</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">다음 소스는
</span><span class="cm">http://www.jbox.dk/sanos/source/lib/string.c.html
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>

<span class="kt">char</span> <span class="o">*</span><span class="nf">strpbrk</span><span class="p">(</span><span class="k">const</span> <span class="kt">char</span> <span class="o">*</span><span class="n">string</span><span class="p">,</span> <span class="k">const</span> <span class="kt">char</span> <span class="o">*</span><span class="n">control</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">const</span> <span class="kt">unsigned</span> <span class="kt">char</span> <span class="o">*</span><span class="n">str</span> <span class="o">=</span> <span class="n">string</span><span class="p">;</span>
  <span class="k">const</span> <span class="kt">unsigned</span> <span class="kt">char</span> <span class="o">*</span><span class="n">ctrl</span> <span class="o">=</span> <span class="n">control</span><span class="p">;</span>
  <span class="kt">unsigned</span> <span class="kt">char</span> <span class="n">map</span><span class="p">[</span><span class="mi">32</span><span class="p">]</span><span class="p">;</span>
  <span class="kt">int</span> <span class="n">count</span><span class="p">;</span>  <span class="c1">// Clear out bit map for (count = 0; count &lt; 32; count++)
</span><span class="c1"></span>              <span class="c1">// map[count] = 0; // Set bits in control map while (*ctrl) {
</span><span class="c1"></span>              <span class="c1">// map[*ctrl &gt;&gt; 3] |= (1 &lt;&lt; (*ctrl &amp; 7));  ctrl++; } // 1st char
</span><span class="c1"></span>              <span class="c1">// in control map stops search while (*str) {  if (map[*str &gt;&gt; 3]
</span><span class="c1"></span>              <span class="c1">// &amp; (1 &lt;&lt; (*str &amp; 7))) return (char *) str;  str++; } return
</span><span class="c1"></span>              <span class="c1">// NULL;}
</span><span class="c1"></span></pre><p>위 함수의 작동 원리에 대해 이해가 잘 안되는 분들은 <a href='http://itguru.tistory.com/94'>http://itguru.tistory.com/94</a><span class='font-weight-bold'> 을 보시기 바랍니다.</p><h3><p>  실행 예제</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">strpbrk 로 일치하는 문자를 찾았다면 포인터의 값을 1 증가시켜서 그 다음 부분 부터
</span><span class="cm">계속 검색을 수행한다. 즉 str 에 포함된 모든 vowel 들의 위치를 구하게 된다. 이
</span><span class="cm">예제는 http://www.cplusplus.com/reference/clibrary/cstring/strpbrk/ 에서
</span><span class="cm">가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;string.h&gt;</span><span class="cp">
</span><span class="cp"></span>
<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="kt">char</span> <span class="n">str</span><span class="p">[</span><span class="p">]</span> <span class="o">=</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">This is a sample string</span><span class="s">&#34;</span><span class="p">;</span>
  <span class="kt">char</span> <span class="n">key</span><span class="p">[</span><span class="p">]</span> <span class="o">=</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">aeiou</span><span class="s">&#34;</span><span class="p">;</span>
  <span class="kt">char</span><span class="o">*</span> <span class="n">pch</span><span class="p">;</span>
  <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">Vowels in &#39;%s&#39;: </span><span class="s">&#34;</span><span class="p">,</span> <span class="n">str</span><span class="p">)</span><span class="p">;</span>
  <span class="n">pch</span> <span class="o">=</span> <span class="n">strpbrk</span><span class="p">(</span><span class="n">str</span><span class="p">,</span> <span class="n">key</span><span class="p">)</span><span class="p">;</span>

  <span class="k">while</span> <span class="p">(</span><span class="n">pch</span> <span class="o">!</span><span class="o">=</span> <span class="nb">NULL</span><span class="p">)</span> <span class="p">{</span>
    <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">%c </span><span class="s">&#34;</span><span class="p">,</span> <span class="o">*</span><span class="n">pch</span><span class="p">)</span><span class="p">;</span>
    <span class="n">pch</span> <span class="o">=</span> <span class="n">strpbrk</span><span class="p">(</span><span class="n">pch</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="n">key</span><span class="p">)</span><span class="p">;</span>
  <span class="p">}</span>
  <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>

  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img class='content-img' src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile25.uf.tistory.com%2Fimage%2F194FCA104C562317E980E9' alt=''><h3><p>  연관된 함수</p></h3><ul><li></li></ul><p><a href='http://itguru.tistory.com/94'>strcspn</a>  :  이 함수와 동일한 검색을 수행하되, 찾은 문자까지 거리를 구한다.</p><ul><li><p>  <a href='http://itguru.tistory.com/93'>strchr</a><span class='font-weight-bold'> :  특정한 문자를 검색하는데 가장 먼저 나타나는 위치를 찾는다.</p></li><li><p> strrchr  :  특정한 문자를 검색하는데 가장 마지막으로 나타나는 위치를 찾는다.</p></li><li><p>  <a href='http://itguru.tistory.com/92'>memchr</a>  :  메모리에서 특정한 문자를 찾는다.</p></li></ul>