<pre class='warning'>아직 C 언어와 친숙하지 않다면, [씹어먹는 C 언어 강좌](http://itguru.tistory.com/notice/15)를 보는 것이 어떻까요?
</pre><p><code class='inline-code'>memchr</code></p><pre class='info'>#include <string.h>  // C++ 에서는 <cstring>

const void* memchr(const void* ptr, int value, size_t num);
void* memchr(void* ptr, int value, size_t num);
</pre><p>메모리 블록에서의 문자를 찾는다.<code class='inline-code'>ptr</code> 이 가리키는 메모리의 처음 <code class='inline-code'>num</code> 바이트 중에서 처음으로 <code class='inline-code'>value</code> 와 일치하는 값의 주소를 리턴한다.</p><p>참고적으로 위에 나타난 두 함수의 원형은 C++ 에서 정의된 방식으로 경우에 따라 오버로딩 되어서 나타난다. C 에서는 함수 오버로딩이 없기 때문에 다음과 같이 하나의 원형만을 가진다.</p><pre class='info'>void *memchr(const void *, int, size_t);
</pre><h3><p>  인자</p></h3><p><code class='inline-code'>ptr</code></p><p>검색을 수행할 부분의 시작 주소이다.</p><p><code class='inline-code'>value</code></p><p>찾을 값으로, <code class='inline-code'>int</code> 로 값이 전달되지만 함수 내부적으로는 한 바이트씩 비교하기 때문에 이 값은 <code class='inline-code'>unsigned char</code> 로 변환되어 사용된다.</p><p><code class='inline-code'>num</code></p><p>검색을 시작한 부분 부터 검색을 수행할 만큼의 바이트 수</p><h3><p>  리턴값</p></h3><p>메모리 블록에서 <code class='inline-code'>value</code> 와 일치하는 값이 있다면 그 곳의 주소를 리턴하고 값을 찾지 못한다면 <code class='inline-code'>NULL</code> 을 리턴한다.</p><h3><p>  실행 예제</p></h3><pre class="chroma"><span class="cm">/*
</span><span class="cm">
</span><span class="cm">str 에서 처음으로 나타나는 &#39;p&#39; 의 위치를 찾는다.
</span><span class="cm">이 예제는
</span><span class="cm">http://www.cplusplus.com/reference/clibrary/cstring/memchr/
</span><span class="cm">에서 가져왔습니다.
</span><span class="cm">
</span><span class="cm">*/</span>
<span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;stdio.h&gt;</span><span class="cp">
</span><span class="cp"></span><span class="cp">#</span><span class="cp">include</span> <span class="cpf">&lt;string.h&gt;</span><span class="cp">
</span><span class="cp"></span>
<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
  <span class="kt">char</span><span class="o">*</span> <span class="n">pch</span><span class="p">;</span>
  <span class="kt">char</span> <span class="n">str</span><span class="p">[</span><span class="p">]</span> <span class="o">=</span> <span class="sa"></span><span class="s">&#34;</span><span class="s">Example string</span><span class="s">&#34;</span><span class="p">;</span>
  <span class="n">pch</span> <span class="o">=</span> <span class="p">(</span><span class="kt">char</span><span class="o">*</span><span class="p">)</span><span class="n">memchr</span><span class="p">(</span><span class="n">str</span><span class="p">,</span> <span class="sa"></span><span class="sc">&#39;</span><span class="sc">p</span><span class="sc">&#39;</span><span class="p">,</span> <span class="n">strlen</span><span class="p">(</span><span class="n">str</span><span class="p">)</span><span class="p">)</span><span class="p">;</span>

  <span class="k">if</span> <span class="p">(</span><span class="n">pch</span> <span class="o">!</span><span class="o">=</span> <span class="nb">NULL</span><span class="p">)</span>
    <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">&#39;p&#39; found at position %d.</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">,</span> <span class="n">pch</span> <span class="o">-</span> <span class="n">str</span> <span class="o">+</span> <span class="mi">1</span><span class="p">)</span><span class="p">;</span>
  <span class="k">else</span>
    <span class="n">printf</span><span class="p">(</span><span class="sa"></span><span class="s">&#34;</span><span class="s">&#39;p&#39; not found.</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">)</span><span class="p">;</span>

  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre><p>실행 결과</p><img class='content-img' src='http://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile22.uf.tistory.com%2Fimage%2F207EAB0F4C5588E0CAACE4' alt=''><h3><p>  연관된 함수</p></h3><ul><li><p> </p></li></ul><p><a href='http://itguru.tistory.com/84'>memcmp</a>   :  두 메모리 블록을 비교한다.</p><ul><li><p>  <a href='http://itguru.tistory.com/93'>strchr</a>  :  문자열에서 특정한 문자를 검색하되 가장 먼저 나타나는 위치를 구한다.</p></li><li><p>  <a href='http://itguru.tistory.com/96'>strrchr</a>  :문자열에서 특정한 문자를 검색하되 가장 마지막에 나타나는 위치를 구한다.</p></li></ul>