.post-box {
  display: flex;
}

#comment-box {
  max-width: 44rem;
}

.profile-pic {
  flex: 0 0 15%;
  max-width: 85px;
}

.profile-pic img {
  max-width: 80%;
  margin-top: 5px;
}

.text-area-wrapper {
  flex: 1;
}

.comment-textarea:focus {
  outline-width: 0;
}

#comment-box {
  padding: 1em;
  margin-bottom: 25px;
}

#comment-reply-section {
  margin-left: 40px;
}

.comment-helper {
  border: 2px solid #dedede;
  position: relative;
  top: -9px;
  background: #f6f8f9;
  border-radius: 3px;
  padding: 5px 5px 5px 15px;
}

.login-box i {
  font-size: 35px;
}

.xi-facebook-official {
  color: #3b5998;
}

.xi-google-plus {
  color: #dd4b39;
}

.xi-naver-square {
  color: #1ec800;
}

.login-box {
  display: flex;
}

.social-login {
  flex: 0 0 16%;
  max-width: 150px;
}

.manual {
  flex: 1;
}

.small-comment {
  font-size: 0.7em;
}

.manual input {
  width: 30%;
  height: 55%;
  min-height: 25px;
  border: 2px solid #dedede;
  border-radius: 3px;
  padding-left: 10px;
}

.comment-btn {
  max-height: 40px;
  margin-top: 3px;
  color: #fff;
  background-color: #0095ff;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  border-radius: 2px;
  border: 1px solid transparent;
  outline: none;
  touch-action: manipulation;
  transition:
    color 0.1s ease-in,
    background-color 0.1s ease-in,
    border-color 0.1s ease-in,
    box-shadow 0.1s ease-in;
  padding: 0.61538462em 1em;
  vertical-align: middle;
  min-height: 2.46153846em;
  cursor: pointer;
  margin-left: auto;
  font-weight: bold;
}

.comment-btn:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: #07c;
  border-color: #005999;
  box-shadow: inset 0 1px 0 #3af;
}

#comment-list-section {
  margin-top: 15px;
}

.comment-list li.comment {
  list-style-type: none;
  display: flex;
  margin-bottom: 10px;
}

.comment-profile {
  flex: 0 0 10%;
}

.comment-profile img {
  width: 80%;
}

.comment-info {
  flex: 1;
  margin-left: 10px;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  color: grey;
  font-size: 0.8em;
  margin-left: 5px;
}

.comment-action span {
  font-size: 0.7em;
  cursor: pointer;
}

.comment-action span:hover {
  color: black;
}

.comment-action span:not(:first-of-type):before {
  content: "| ";
}

.comment-upvote {
  padding-right: 3px;
}

.comment-reply {
  padding-right: 3px;
}

.comment-content {
  white-space: pre-wrap;
  word-break: break-all;
}

#open-comment {
  width: 90%;
}

#button-box {
  text-align: center;
}

#open-comment {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.7em;
}

.delete-password-label {
  font-size: 0.7em;
  margin-left: 20px;
}

.delete-password {
  width: 30%;
  height: 55%;
  min-height: 25px;
  border: 2px solid #dedede;
  border-radius: 3px;
  padding-left: 10px;
  margin-left: 10px;
}

.delete-btn {
  margin-left: 15px;
  background: none;
  border: 1px solid #dedede;
  color: #3c3c3c;
  font-size: 0.75em;
}

.delete-btn:hover {
  background: grey;
  color: white;
  cursor: pointer;
}

#adding-comment {
  display: none;
}

.sk-fading-circle {
  margin-top: 13px;
  margin-right: 13px;
  width: 20px;
  height: 20px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

#num-comment {
  max-width: 44rem;
  padding-top: 1em;
}

#num-comment span {
  color: #ec5621;
  font-weight: bold;
}

.comment-helper a {
  padding-left: 0;
}
