.center {
    text-align: center;
}

.wrap h3>p {
    margin-bottom: 0;
}

.font-italic {
    font-style: italic;
}

.font-weight-bold {
    font-weight: bold;
}

.wrap h3 {
    margin-bottom: 1rem;
    border-left: 10px solid #005ecb;
    border-bottom: 3px solid #005ecb;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #005ecb;
    padding-top: 5px;
}

/* Warning */

.warning {
    font-family: 'Source Code Pro', 'Noto Sans KR', monospace;
    background-color: rgba(252, 222, 199, 1);
    border: 1px solid rgb(254, 104, 67);
    padding: 10px;
    font-size: 0.75em;
}

.warning a {
    color: rgb(247, 22, 22);
    font-weight: bold;
    font-size: 110%;
}

.info {
    font-family: 'Source Code Pro', 'Noto Sans KR', monospace;
    background-color: rgb(231, 253, 181);
    border: 1px solid rgb(159, 211, 49);
    padding: 10px;
    font-size: 0.75em;
}

.exec-preview {
    font-family: 'Source Code Pro', 'Noto Sans KR', monospace;
    background-color: #2d2a2e;
    border: 1px solid #2d2a2e;
    color: white;
    padding: 10px;
    font-size: 0.9em;
}

.edit {
    margin-left: auto;
    margin-right: 3px;
    margin-top: 4px;
    float: right;
    margin-top: 4px;
    background: #6b6464 linear-gradient(to bottom, #bbb7b7, #6b6464);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    transition: background-position 0.1s linear;
    color: white;
    padding: 7px 20px 7px 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.plain-code {
    overflow-y: scroll!important;
}

.exec-result {
    background-color: black;
    color: white;
    margin-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.exec-result-title {
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
    font-size: 0.95em;
    background-color: #e8e8e8;
    color: #101010;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.compile-error-title {
    margin-left: 10px;
    color: red;
    font-size: 0.7em;
}

.run-success-title {
    margin-left: 10px;
    color: green;
    font-size: 0.7em;
}

.compiler-error-line {
    background: lightcoral;
    width: 8px !important;
    left: 3px;
}

.button-group {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.stdin {
    flex: 2;
    margin-right: 10px;
    margin-top: 5px;
}

.stdin::placeholder {
    padding-left: 10px;
}

.stdin-label {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 0.8em;
    color: black;
}

.run {
    margin-top: 4px;
    background: #51a351 linear-gradient(to bottom, #62c462, #51a351);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    transition: background-position 0.1s linear;
    color: white;
    padding: 7px 20px 7px 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.monaco-container {
    margin-top: 20px;
}

@media (max-width: 48em) {
    #open-sidebar {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.5em;
        display: none;
        z-index: 100;
    }
}

@media (min-width: 49em) {
    #open-sidebar {
        position: absolute;
        top: 35px;
        left: 20px;
        font-size: 1.5em;
        display: none;
        z-index: 100;
    }
}

#open-sidebar-btn {
    cursor: pointer;
}

.page-nav-btns {
    display: flex;
    max-width: 46rem;
    margin-right: auto;
}

.page-nav-btns p {
    text-align: center;
    margin-top: 0;
}

.page-nav-btns p:first-of-type {
    margin-bottom: 5px;
}

p.nav-page-title {
    font-size: 0.7em;
    font-weight: lighter;
    margin-bottom: 0;
    color: #515151;
}

.page-btn-common {
    flex: 1;
    font-size: 1em;
    padding: 15px 25px;
    background-color: white;
    border: 1px solid #dddddd;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.page-btn-common:hover {
    color: white;
    background-color: #0085a1;
    border: 1px solid #0085a1;
    text-decoration: none;
}

.page-btn-common:hover p {
    color: white;
}

.prev-page-btn {
    margin-left: 5%;
    margin-right: 5%;
}

.next-page-btn {
    margin-left: auto;
    margin-right: 5%;
}

thead>tr {
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    background-color: #cccccc;
}

table p {
    margin-bottom: 0;
}

h2.ref-header {
    font-family: "Source Code Pro", 'Noto Sans KR', monospace;
    font-size: 1.8rem;
    border-bottom: 5px solid rgb(232, 232, 232);
    padding-bottom: 4px;
    position: relative;
}

h2.ref-header::before {
    position: absolute;
    background: black;
    height: 5px;
    content: '';
    width: 20%;
    bottom: -5px;
    left: 0;
}

h3.lecture-header {
    border: none;
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 3px;
    color: #ea5e5e;
}

h3.lecture-header+p {
    margin-left: 10px;
}

.content-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chroma {
    font-family: 'Source Code Pro', 'Noto Sans KR', monospace;
    font-size: 13px;
    line-height: 20px;
    overflow-y: hidden;
    border: 1px solid black;
    background: #2d2a2e;
    color: white;
}

@media (max-width: 1453px) {
    .sidenote {
        font-size: smaller;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #5e6973;
        margin-bottom: 10px;
    }
}

@media (min-width: 1454px) {
    .sidenote {
        position: absolute;
        left: 755px;
        width: 288px;
        font-size: smaller;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #5e6973;
    }
}

.shrink-btn {
    background: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.shrink-btn:hover {
    background: grey;
    color: white;
}

.toc-sidebar {
    list-style: none;
    padding-left: 20px;
}

.toc-sidebar .toc-H2 {
    font-size: 140%;
    font-weight: bold;
}

.toc-sidebar .toc-H3 {
    font-size: 125%;
}

.toc-sidebar .toc-H4 {
    padding-left: 15px;
}

.toc-sidebar li {
    margin-bottom: 7px;
}

.toc-header {
    font-size: 140%;
    margin-left: 20px;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    margin-right: 15px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

p.quote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

a.link-code {
    font-family: "Source Code Pro";
    color: #0645ad;
    font-size: 95%;
}

.adsense-content-top {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 159px) {
    .adsense-sidebar {
        display: none !important;
    }
}

.adsense-sidebar {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

figcaption {
    text-align: center;
    color: #888888;
}

.hangul_fallback {
    font-family: "Noto Sans KR"!important;
    font-size: 90%;
}

.td-align-center {
    text-align: center;
}