.chroma .f {
  color:#a9dc76;
}
.chroma .n {
  color:#ab9df2;
}
.chroma .s {
  color:#ffd866;
}
.chroma .k {
  color:#ff6188;
}
.chroma .o {
  color:#ff6188;
}
.chroma .m {
  color:#ff6188;
}
.chroma .c {
  color:#aeaeae;
}
.chroma .mb {
  color:#ffd866;
}
.chroma .t {
  color:#78dce8;
}
.chroma .l {
  color: #78dce8;
}
.chroma .g {
  color: #78dce8;
}

.lang-asm .in {
  color: #6dbeff;
}
.lang-asm .rg {
  color: #78dce8;
}
.lang-asm .u {
  color: #ffb97c;
}
.lang-asm .lb {
  color: #f19798;
}
.lang-asm .dr {
  color: #ff3133;
}
.lang-asm .c {
  color: #d6d6d6;
}