.chroma .f {
  color:#a9dc76;
}
.chroma .n {
  color:#ab9df2;
}
.chroma .s {
  color:#ffd866;
}
.chroma .k {
  color:#ff6188;
}
.chroma .o {
  color:#ff6188;
}
.chroma .m {
  color:#ff6188;
}
.chroma .c {
  color:#727072;
}
.chroma .mb {
  color:#ffd866;
}
.chroma .t {
  color:#78dce8;
}
.chroma .l {
  color: #78dce8;
}
.chroma .g {
  color: #78dce8;
}