.post-box {
    display: flex;
}

#comment-box {
    max-width: 42rem;
    margin-right: auto;
}
.profile-pic {
    flex: 0 0 15%;
    max-width: 85px;
}

.profile-pic img {
    max-width: 80%;
    margin-top: 5px;
}

.text-area-wrapper {
    flex: 1;
}

.comment-textarea {
    margin-top:3px;
    height: 80%;
    width: 100%;
    border: 2px solid #dedede;
    border-radius: 3px;
    padding: 8px 0 5px 10px;
    resize: none;
}

.comment-textarea:focus {
    outline-width: 0;
}

#comment-box {
    padding: 1em;
    margin-bottom: 25px;
}

#comment-reply-section {
    margin-left:40px;
}

.comment-helper {
    border: 2px solid #dedede;
    position: relative;
    top:-9px;
    background:#f6f8f9;
    border-radius: 3px;
    padding: 5px 5px 5px 15px;
}

.login-box i {
    font-size:35px;
}

.xi-facebook-official {
    color: #3B5998;
}

.xi-google-plus {
    color: #dd4b39;
}

.xi-naver-square {
    color: #1ec800;
}

@media (max-width: 587px) {
    .login-box {
        margin-left: 12%;
        margin-top: 50px;
        flex-direction: column;
    }
}

@media (min-width: 588px) {
    .login-box {
        margin-left: 12%;
        margin-top: 35px;
    }
}

.login-box {
    display: flex;
}

.social-login {
    flex: 0 0 25%;
    max-width: 150px;
}

.manual {
    flex: 1;
}

.small-comment {
    font-size: 0.7em;
}

.manual input {
    width: 30%;
    height: 55%;
    min-height: 25px;
    border: 2px solid #dedede;
    border-radius: 3px;
    padding-left: 10px;
}

.comment-btn {
    max-height: 40px;
    margin-top: 3px;
    color: #FFF;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;
    border-radius: 2px;
    border: 1px solid transparent;
    outline: none;
    touch-action: manipulation;
    transition: color .1s ease-in,background-color .1s ease-in,border-color .1s ease-in,box-shadow .1s ease-in;
    padding: .61538462em 1em;
    vertical-align: middle;
    min-height: 2.46153846em;
    cursor:pointer;
    margin-left:auto;
    font-weight: bold;
}

.comment-btn:hover {
    color: rgba(255,255,255,0.9);
    background-color: #07c;
    border-color: #005999;
    box-shadow: inset 0 1px 0 #3af;
}

#comment-list-section {
    margin-top: 15px;
}

.comment-list li.comment {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
}

.comment-profile {
    flex:0 0 10%;
}

.comment-profile img {
    width: 80%;
}

.comment-info {
    flex: 1;
    margin-left: 10px;
}

.comment-author {
    font-weight: bold;
}

.comment-date {
    color: grey;
    font-size:0.8em;
    margin-left: 5px;
}

.comment-action span {
    font-size:0.7em;
    cursor: pointer;
}

.comment-action span:hover {
    color: black;
}
.comment-action span:not(:first-of-type):before {
    content: '| ';
}

.comment-upvote {
    padding-right: 3px;
}

.comment-reply {
    padding-right: 3px;
}

.comment-content {
    white-space: pre-wrap;
    word-break: break-all;
}

#open-comment {
    width: 90%;
}

#button-box {
    text-align: center;
}

#open-comment {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.7em;
}

.delete-password-label {
    font-size: 0.7em;
    margin-left: 20px;
}

.delete-password {
    width: 30%;
    height: 55%;
    min-height: 25px;
    border: 2px solid #dedede;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 10px;
}

.delete-btn {
    margin-left: 15px;
    background: none;
    border: 1px solid #dedede;
    color: #3c3c3c;
    font-size: 0.75em;
}

.delete-btn:hover {
    background: grey;
    color: white;
    cursor: pointer;
}