body {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕';
  margin: 0;
  background-color: rgb(234, 234, 234);
}
head {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕';
}

.text-bold {
  font-weight: bold;
}

.header {
  background-color: #202020;
  color: white;
  height: 180px;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  font-size: 200%;
}

.header-img {
  height: 100px;
}

.header-img img {
  max-height: 100%;
  clip-path: circle();
}

.header-title {
  font-size: 120%;  
}

.header-title a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  margin-bottom: 30px;
}
.content {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 40px rgba(71, 51, 31, 0.2);
  background-color: white;
}

.row-content {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 0;
  border: 1px solid rgb(238, 238, 238);
  min-width: 320px;
}

.item-text {
  padding: 15px;
}
.item:not(:first-child) {
  margin-left: 10px;
}

.item-img img {
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}

.item-text-header {
  font-size: 150%;
  margin-bottom: 5px;
}

.item-text-header a {
  text-decoration: none;
  color: #268bd2;
}

.item-text-header a:hover {
  font-weight: bold;
}

.item-text-content p {
  margin: 0px;
  margin-bottom: 5px;
}

.row {
  border: 1px solid rgb(238, 238, 238);
  margin-top: 15px;
}

.ref-box {
  padding: 10px 20px;
}

.ref-content {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
}

.ref-col {
  flex: 1 1 0;
  min-width: 195px;
  margin-bottom: 15px;
}

.ref-col:not(:first-child) {
  margin-left: 5px;
}

.ref-header {
  font-size: 150%;
  font-weight: bolder;
}
.ref-col-header {
  font-size: 110%;
}

.ref-col-content ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
} 

.ref-col a {
  text-decoration: none;
  color: #268bd2;
  font-family: 'Source Code Pro', monospace;
  font-size: 100%;
  padding: 5px;
} 

.ref-col a:hover {
  border: 1px solid #ddd;
}